<launch>
<!--

  <node name="joy_node" pkg="joy" type="joy_node" respawn="false"/>
  <node name="joy_teleop" pkg="snakewbot_control" type="joy_teleop.py" respawn="false"/>
-->
					  			
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find snakewbot_control)/config/joint_position_control.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/snakewbot" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/snakewbot/joint_states" />
  </node>

</launch>
